<div class="block">
  <div class="header">
    <h3
      class="title"
      (click)="onSelect(item.id)"
    >
      {{item.placeholder}}
    </h3>
    <button (click)="onDelete(item.id)">Delete</button>
  </div>
  <div *ngIf="active === item.id" class="styles-block">
    <div
      class="styles"
      *ngFor="let key of keys"
    >
      <div class="change">
        <p>{{key}}:</p>
        <p *ngIf="!change">{{obj.width !== undefined ? obj[key] : item.styles[key]}}</p>
        <input
          *ngIf="change"
          type="text"
          value="{{obj.width !== undefined ? obj[key] : item.styles[key]}}"
          (input)="onStyle(key, $event)"
        >
      </div>
    </div>

    <div class="buttons-block">
      <button (click)="onChange()">Change</button>
      <button (click)="onApply()">Apply</button>
    </div>
  </div>
</div>
