<div class="autorization">
  <div>
    <h2 class="autorization__title">Login</h2>
  </div>
  <div>
    <form class="autorization__form">
      <div class="autorization__form-block">
        <label
          for="email"
          [ngClass]="{
            'autorization__invalid-text': emailInvalid,
            'autorization__label': true
          }"
        >
          Login
        </label>
        <input
          name="email"
          id="email"
          type="email"
          placeholder="login"
          [ngClass]="{
            'autorization__invalid': emailInvalid,
            'autorization__input': true
          }"
          [(ngModel)]="loginUserData.email"
          (input)="change()"
        >
      </div>
      <p *ngIf="emailInvalid" class="autorization__invalid-text">Email invalid</p>

      <div class="autorization__form-block">
        <label
          for="pas"
          [ngClass]="{
            'autorization__invalid-text': passwordInvalid,
            'autorization__label': true
          }"
        >
          Password
        </label>
        <input
          name="password"
          id="pas"
          type="password"
          placeholder="password"
          [ngClass]="{
            'autorization__invalid': passwordInvalid,
            'autorization__input': true
          }"
          [(ngModel)]="loginUserData.password"
          (input)="change()"
        >
      </div>
      <p *ngIf="passwordInvalid" class="autorization__invalid-text">Password invalid</p>

      <button class="autorization__button" (click)="loginUser()">Login</button>
    </form>
  </div>
</div>
