<header class="header">
  <a class="header__title-link" [routerLink]="['/']">
    <h1 class="header__title">Builder</h1>
  </a>

  <div *ngIf="email === ''" class="header__autoriz">
    <a class="header__autoriz-link" [routerLink]="['/login']">Login</a>
    <a class="header__autoriz-link" [routerLink]="['/register']">Registration</a>
  </div>

  <div *ngIf="email?.length !== 0" class="header__autoriz">
    <p class="header__autoriz-email">{{ email }}</p>
    <a class="header__autoriz-link" [routerLink]="['/login']" (click)="logout()"> Logout </a>
  </div>
</header>

<router-outlet></router-outlet>
